.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6vw;
  min-height: 100vh;
}

.imageButtonRow {
  display: flex;
  justify-content: space-around;
}

.imageButtonPair {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.button {
  background-color: black;
  color: white;
  width: 20vw;
  height: 10vh;
  margin: 1rem;
}

.button:hover {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}
